@font-face
  font-family: 'M PLUS Rounded 1c'
  src: url('../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf')
  font-weight: 400
*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  margin: 0
  font-family: 'M PLUS Rounded 1c'
  color: #171739
  font-weight: 400
  padding-bottom: 50px
  section
    margin-top: 75px
    position: relative
h1
  font-size: 55px
  line-height: 65px
  font-weight: 900
  width: 50%
  margin: 0 auto
p, span
  font-size: 18px
  line-height: 25px
h5
  font-weight: 900
  font-size: 35px
  line-height: 45px
  text-align: center
  margin-bottom: 33px
  margin-top: 10px
.txt__main
  text-align: center
.slider__main
  margin-top: 105px
  position: relative
.swiper-container
  width: 85%
  height: auto
  .swiper-slide__content-foto
    display: flex
    align-items: center
    flex-direction: column
    img
      margin-bottom: 7px
.swiper-wrapper
  margin-bottom: 50px
.swiper-container-horizontal>.swiper-scrollbar
  background: #C3DCF4
.swiper-scrollbar-drag
  background: #7CBCF3
.swiper-button-prev, .swiper-button-next
  background: #F2F2F6
  border: 1px solid #79B7EA
  box-sizing: border-box
  border-radius: 100%
  width: 70px
  height: 70px
  &:focus
    outline: none
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
  color: #79B7EA
  margin-bottom: 9px
  margin-right: 4px
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after
  content: url('../img/arr-l.svg')
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
  content: url('../img/arr-r.svg')
  margin-right: -3px
.swiper-button-prev, .swiper-container-rtl .swiper-button-next
  left: 25px
  top: 36%
.swiper-button-next, .swiper-container-rtl .swiper-button-prev
  top: 36%
  right: 25px
.swiper-button-prev:active:after
  content: url('../img/arr-r-b.svg')
  transform: scale(-1, 1)
.swiper-button-next:active:after
  content: url('../img/arr-r-b.svg')
/***************Animation*************************/
.swiper-slide__content
  padding-top: 50px
.swiper-slide__content-animation-vector
  background-image: url('../img/vector-mute.svg')
  background-repeat: no-repeat
  background-size: contain
  background-position-x: left
  width: 47px
  height: 60px
.swiper-slide__content-animation:hover .swiper-slide__content-animation-vector
  background-image: url('../img/vector-call2.svg')
  width: 139px
  height: 71px
  background-position-x: right
.frame
  position: relative
  height: 140px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  margin-bottom: 28px
.line
  fill: transparent
  stroke-linecap: round
  position: absolute
  opacity: 1


.frame:hover .line-1
  animation: sound-1 1s linear infinite
  animation-delay: 0.1s
.frame:hover .line-2
  animation: sound-1 1s linear infinite
  animation-delay: 0.3s
.frame:hover .line-3
  animation: sound-1 1s linear infinite
  animation-delay: 0.6s

.editorial
  display: block
  width: 100%
  height: 10em
  max-height: 100vh
  margin: 0
  position: absolute
  z-index: -9999
  top: 50%
  opacity: 0.3

.parallax > use
  animation: move-forever 12s linear infinite

  &:nth-child(1)
    animation-delay: -2s

  &:nth-child(2)
    animation-delay: -2s
    animation-duration: 5s

  &:nth-child(3)
    animation-delay: -4s
    animation-duration: 3s




.btn-swiper
  fill: transparent
  stroke-linecap: round
  position: absolute
  opacity: 1
.btn-swiper:hover
  animation: sound-2 1s linear infinite



@keyframes sound-1
  100%
    transform: scale(2)
    opacity: 0
@keyframes sound-2
  100%
    transform: scale(1.5)
    opacity: 0

@keyframes move-forever
  0%
    transform: translate(-90px, 0%)

  100%
    transform: translate(85px, 0%)

@media screen and (min-width: 1440px)
  .swiper-scrollbar
    display: none
@media screen and (max-width: 1440px)
  .editorial
    display: none
  .swiper-container
    width: 90%
  h1
    font-size: 55px
    line-height: 65px
  .swiper-button-next, .swiper-button-prev
    display: none
@media screen and (max-width: 768px)
  h1
    font-size: 35px
    line-height: 45px
  h5
    font-size: 25px
@media screen and (max-width: 500px)
  h1
    font-size: 30px
    line-height: 40px
