@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url("../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c';
  color: #171739;
  font-weight: 400;
  padding-bottom: 50px;
}

body section {
  margin-top: 75px;
  position: relative;
}

h1 {
  font-size: 55px;
  line-height: 65px;
  font-weight: 900;
  width: 50%;
  margin: 0 auto;
}

p, span {
  font-size: 18px;
  line-height: 25px;
}

h5 {
  font-weight: 900;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 10px;
}

.txt__main {
  text-align: center;
}

.slider__main {
  margin-top: 105px;
  position: relative;
}

.swiper-container {
  width: 85%;
  height: auto;
}

.swiper-container .swiper-slide__content-foto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container .swiper-slide__content-foto img {
  margin-bottom: 7px;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.swiper-container-horizontal > .swiper-scrollbar {
  background: #C3DCF4;
}

.swiper-scrollbar-drag {
  background: #7CBCF3;
}

.swiper-button-prev, .swiper-button-next {
  background: #F2F2F6;
  border: 1px solid #79B7EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 70px;
  height: 70px;
}

.swiper-button-prev:focus, .swiper-button-next:focus {
  outline: none;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  color: #79B7EA;
  margin-bottom: 9px;
  margin-right: 4px;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: url("../img/arr-l.svg");
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: url("../img/arr-r.svg");
  margin-right: -3px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 25px;
  top: 36%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  top: 36%;
  right: 25px;
}

.swiper-button-prev:active:after {
  content: url("../img/arr-r-b.svg");
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.swiper-button-next:active:after {
  content: url("../img/arr-r-b.svg");
}

/***************Animation*************************/
.swiper-slide__content {
  padding-top: 50px;
}

.swiper-slide__content-animation-vector {
  background-image: url("../img/vector-mute.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: left;
  width: 47px;
  height: 60px;
}

.swiper-slide__content-animation:hover .swiper-slide__content-animation-vector {
  background-image: url("../img/vector-call2.svg");
  width: 139px;
  height: 71px;
  background-position-x: right;
}

.frame {
  position: relative;
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 28px;
}

.line {
  fill: transparent;
  stroke-linecap: round;
  position: absolute;
  opacity: 1;
}

.frame:hover .line-1 {
  -webkit-animation: sound-1 1s linear infinite;
          animation: sound-1 1s linear infinite;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.frame:hover .line-2 {
  -webkit-animation: sound-1 1s linear infinite;
          animation: sound-1 1s linear infinite;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.frame:hover .line-3 {
  -webkit-animation: sound-1 1s linear infinite;
          animation: sound-1 1s linear infinite;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
  position: absolute;
  z-index: -9999;
  top: 50%;
  opacity: 0.3;
}

.parallax > use {
  -webkit-animation: move-forever 12s linear infinite;
          animation: move-forever 12s linear infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.btn-swiper {
  fill: transparent;
  stroke-linecap: round;
  position: absolute;
  opacity: 1;
}

.btn-swiper:hover {
  -webkit-animation: sound-2 1s linear infinite;
          animation: sound-2 1s linear infinite;
}

@-webkit-keyframes sound-1 {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes sound-1 {
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes sound-2 {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sound-2 {
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate(-90px, 0%);
            transform: translate(-90px, 0%);
  }
  100% {
    -webkit-transform: translate(85px, 0%);
            transform: translate(85px, 0%);
  }
}

@media screen and (min-width: 1440px) {
  .swiper-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .editorial {
    display: none;
  }
  .swiper-container {
    width: 90%;
  }
  h1 {
    font-size: 55px;
    line-height: 65px;
  }
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
  h5 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
